footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--medium-violet);
    margin-top: auto;
    left: 0;
    right: 0;
  }
  
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  